---
import { Icon } from 'astro-icon';
import ServicesBackground from "../../assets/service/service-background.astro";
const services_1 = [
    {
        icon: 'analytics',
        class_icon: 'w-[80px]',
        class_name: 'max-w-[220px]',
        name: 'Analytics & Reporting',
        description: 'Measure, analyze, and report on marketing performance to drive informed decisions.'
    },
    {
        icon: 'laptop-code',
        class_icon: 'w-[94px]',
        name: 'Website Design & Development',
        description: 'Scarlett delivers captivating websites tailored to your brand and business objectives.'
    },
];
const services_2 = [
    {
        icon: 'camera',
        class_icon: 'w-[80px]',
        name: 'Content Creation & Distribution',
        description: 'Craft engaging, high-quality content and deploy it across relevant channels.'
    },
    {
        icon: 'money-sign',
        class_icon: 'w-[80px]',
        name: 'Pay-Per-Click Advertising',
        description: 'Maximize ad impact through strategic keyword selection and compelling copy.'
    },
    {
        icon: 'social-media',
        class_icon: 'w-[70px]',
        class_name: 'max-w-[220px]',
        name: 'Social Media Marketing',
        description: 'Engage audiences and foster a thriving community on selected social platforms.'
    },
    {
        icon: 'content-writting',
        class_icon: 'w-[65px]',
        class_name: 'max-w-[120px]',
        name: 'Content Writing',
        description: "Engaging and SEO-driven content that boosts your brand's online visibility and storytelling."
    },
];
---
<section class="fade-in relative flex items-center justify-center lg:min-h-[70vh] w-full pt-[4rem] pb-[8rem] text-white overflow-hidden" id="services">
    <ServicesBackground class_list="background-image absolute max-lg:top-[10%] lg:top-[10px] left-0 lg:left-[180px] h-full w-full z-20" />
    <div class="services-container items-center relative w-[85vw] mx-auto z-30">
        {
            services_1.map( ({ class_name, class_icon, name, description, icon }, index) => (
                <div class={`service service-${index + 1}`}>
                    <Icon name={icon} class={`mb-3 ${class_icon}`} />
                    <h2 class={`font-bold font-rubik text-2xl mb-2 ${class_name}`}>{ name }</h2>
                    <p class="text-white-300 leading-1">{ description }</p>
                </div>))
        }
        <div class="service-description">
            <h1 id="our-digital" class="service-description-content">
                <!-- Our Digital -->
            </h1>
            <h1 id="marketing-expertise" class="service-description-content">
                <!-- Marketing Expertise -->
            </h1>
            <p id="description-text" class="text-white-200 mt-3 text-lg lg:text-xl min-h-[112px] lg:min-h-[56px]">
                <!-- With Scarlett, experience unmatched expertise, tailored strategies, and a 
                dedication to your success. -->
            </p>
        </div>
        {
            services_2.map( ({ class_name, class_icon, name, description, icon }, index) => (
                <div class={`service service-${(index + 3)}`}>
                    <Icon name={icon} class={`mb-3 ${class_icon}`} />
                    <h2 class={`font-bold font-rubik text-2xl mb-2`+` `+class_name}>{ name }</h2>
                    <p class="text-white-300 leading-1">{ description }</p>
                </div>))
        }
    </div>
</section>
<script>
    import { typeWritter } from '../../libs';
    
    (async function init() {
        const section = document.querySelector("section#services");
        let first = true;
        section.addEventListener("animationend", async () => {
            if (first) {
                first = false;
                await typeWritter("Our Digital", "our-digital", 50);
                await typeWritter("Marketing Expertise", "marketing-expertise", 50);
                const description_text = 'With Scarlett, experience unmatched expertise, tailored strategies, and a dedication to your success.'; 
                await typeWritter(description_text, "description-text", 0.8); 
            }
            setTimeout(() => {
                section.classList.add('float');
            }, 1350)
        })
    })()
</script>
<style>
    .background-image {
        opacity: 0;
        transition: all 500ms ease-in-out;
    }
    section.show .background-image {
        opacity: 1;
    }
    .services-container {
        display: grid; 
        justify-content: center;
        grid-template-areas:
            "service-description"
            "service-1"
            "service-2"
            "service-3"
            "service-4"
            "service-5"
            "service-6";
        column-gap: 32px;
        row-gap: 32px;
    }
    section .service {
        opacity: 0;
        transform: translateY(20%);
        @apply flex flex-col bg-black-200 p-8 rounded-lg max-w-[580px] lg:max-w-[350px] min-h-[280px];
    }
    section.show .service {
        animation: fade-from-below 520ms ease-in-out forwards;
    }
    @keyframes fade-from-below {
        from {
            opacity: 0;
            transform: translateY(20%);
        }to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    section.show .service-1 { 
        grid-area: service-1;
        animation-delay: 100ms;
    }
    section.show .service-2 { 
        grid-area: service-2;
        animation-delay: 300ms;
    }
    section.show .service-3 { 
        grid-area: service-3;
        animation-delay: 500ms;
    }
    .service-description {
        grid-area: service-description;
        @apply grow flex flex-col max-w-[580px] max-lg:py-8;
    }
    .service-description-content {
        @apply max-w-[720px] font-epilogue font-bold text-3xl lg:text-[3rem] lg:leading-[3.6rem] min-h-[36px] lg:min-h-[58px];
    }
    section.show .service-4 { 
        grid-area: service-4;
        animation-delay: 700ms;
    }
    section.show .service-5 { 
        grid-area: service-5;
        animation-delay: 900ms;
    }
    section.show .service-6 { 
        grid-area: service-6;
        animation-delay: 1100ms;
    }
    @media (min-width: 992px) {
        .services-container {
            grid-template-areas:
            "service-1 service-2 service-description service-description"
            "service-3 service-4 service-5 service-6";
        }
    }
</style>